﻿extends ./layout.jade

block contenido
	h1 Iniciar Sesion	
	form(action="/usuarios", method="POST")
		div(class="form-group")
			label(for="email") Usuario:
			input(class="form-control" type="email" id="email" name="email" placeholder="Ingresa tu Email" required)
		div(class="form-group")
			label(for="contrasenia") Contraseña:
			input(class="form-control" type="password" id="contrasenia" name="contrasenia" placeholder="Ingresa tu contraseña" required)
		div
			button(class="btn btn-info" type="submit") Iniciar Sesiòn